In [18]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import imageio as io
import os

In [2]:
df= pd.read_csv("../data/gapminder_total.csv")

In [4]:
df.tail()

           continent    country  year  life expectancy  fertility  population
11083  South America  Venezuela  2011             74.8       2.44  29427631.0
11084  South America  Venezuela  2012             74.6       2.42  29854238.0
11085  South America  Venezuela  2013             74.7       2.39  30276045.0
11086  South America  Venezuela  2014             74.8       2.36  30693827.0
11087  South America  Venezuela  2015             74.8       2.34  31108083.0

In [16]:


for i in range(1960,2016):
    df_subset = df[df["year"] == i]
    plt.figure(figsize=(20, 10))
    plt.title("Life Expectancy vs Fertility Rate")
    plt.xticks(rotation =45)
    plt.grid()
    plt.axis([0, 85, 0, 9.5])

    sns.scatterplot(x= "life expectancy", y = "fertility", s =(df_subset["population"]/100000),
                hue= "continent", alpha = 0.5,
                data= df_subset)
    plt.legend(bbox_to_anchor = (1,1), frameon = False)
    plt.savefig(f"../data/plot_{i}.png")
    plt.close()

In [20]:

images = []

for year in range(1960, 2016):
    filename = f'../data/img/plot_{year}.png'
    images.append(imageio.imread(filename))

imageio.mimsave("../data/gapminder_data1.gif", images, fps=10)